#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  height: 100%;
  min-width: 1000px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.todo {
  display: flex;
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
}


.todo__tasks {
  flex-grow: 1;
  padding: 60px;
}


.todo-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 12px;
  width: 100%;
  opacity: 0.4;
  transition: all 0.2s linear;
  gap: 8px;
  font-size: 14px;
}


.todo-button:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}


