#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  height: 100%;
  min-width: 1000px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.todo {
  display: flex;
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border: 1px solid #f1f1f1;

  &__sidebar {
    padding: 60px 20px;
    flex: 0 1 240px;
    background-color: #f4f6f8;
    border-right: 1px solid #f1f1f1;
    min-height: 100%;
  }

  &__tasks {
    flex-grow: 1;
    padding: 60px;
  }
}

.todo__sidebar-button {
  background: #ffffff;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 4%);
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 14px;
  width: 100%;
  gap: 8px;
  cursor: pointer;
  padding: 10px 12px;
  margin-bottom: 30px;
}

.todo__list {
  margin-bottom: 30px;
}

.todo__list-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  font-size: 14px;
  transition: background-color 0.15s linear;

  .badge {
    margin-right: 8px;
  }

  &.active {
    box-shadow: 0px 3px 10px rgb(0 0 0 / 4%);
    border-radius: 4px;
    background-color: #fff;
  }

  span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  &.active:hover {
    background-color: #fff;
  }
}

.todo__list-item:hover .todo__list-remove-icon {
  opacity: 0.2;
}

.todo__list-item.active:hover .todo__list-remove-icon {
  opacity: 0.2;
}

.todo__list-remove-icon {
  cursor: pointer;
  margin-left: auto;
  transition: opacity 0.3s linear;
  opacity: 0;
}


.todo-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 12px;
  width: 100%;
  opacity: 0.4;
  transition: all 0.2s linear;
  gap: 8px;
  font-size: 14px;
}

.todo-button:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}

.todo-button__icon {
  width: 12px;
}

.tasks {
  margin-bottom: 40px;
}

.tasks__title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #64c4ed;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;

  img {
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s linear;
  }
  &:hover img {
    opacity: 0.4;
  }
}

.tasks__items {
  margin-top: 30px;
}

.tasks__items-row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.task-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox {
  svg {
    transition: opacity 0.15s ease-in-out;

    path {
      stroke: #f2f2f2;
    }
  }

  input:checked + label {
    background-color: #4dd599;
    border-color: #4dd599;

    svg {
      opacity: 1;

      path {
        stroke: #fff;
      }
    }
  }

  input:focus + label {
    box-shadow: 0 0 0 2px #000;
  }

  &:hover {
    label {
      background-color: #f2f2f2;
      border-color: #f2f2f2;

      svg {
        opacity: 1;

        path {
          stroke: #b2b2b2;
        }
      }
    }
  }

  label {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #e8e8e8;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;

    svg {
      opacity: 0;
    }
  }
}

.tasks__items-row {
  display: flex;
}

.tasks__items-row:hover .tasks__items-row-actions {
  opacity: 1;
}

.tasks__items-row-actions {
  opacity: 0;
  margin-left: auto;
  display: flex;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: lighten(#f4f6f8, 2%);
    border-radius: 6px;
    margin-left: 5px;
    cursor: pointer;

    &:hover {
      background-color: darken(#f4f6f8, 2%);

      svg {
        opacity: 0.9;
      }
    }

    svg {
      width: 11px;
      height: 11px;
      opacity: 0.4;
    }
  }
}

.tasks__form {
  cursor: pointer;
  margin-top: 20px;
}
.tasks__form-new {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  opacity: 0.4;
  transition: opacity 0.2s linear;

  &:hover {
    opacity: 1;
  }
}

.tasks__form-input {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;
  margin-bottom: 15px;
}

.tasks__form-button {
  background: #4dd599;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}

.tasks__form-button.button--grey {
  background: #f4f6f8;
  color: #444444;
}

.add-list__popup {
  height: 150px;
  width: 240px;
  background: #ffffff;
  box-shadow: 0px 6px 10px rgb(0 0 0 / 5%);
  border-radius: 10px;
  padding: 18px;
  box-sizing: border-box;
  position: relative;
  top: -25px;
  left: 10px;
}

.add-list__popup-close-btn {
  position: absolute;
  right: -8px;
  top: -8px;
  cursor: pointer;
}

.add-list__popup-input {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;
}

.add-list__popup-colors {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.add-list__popup-colors .badge.active {
  border: 2px solid #525252;
}

.add-list__popup-colors .badge {
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 2px solid transparent;
}

.add-list__popup .todo__button {
  width: 100%;
  margin-top: 12px;
}

.todo__button {
  background: #4dd599;
  border-radius: 4px;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}
